<!DOCTYPE html>
<html>
  <head>
    <title>Chirp!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello Everyone!</h1>
    <p>Welcome to chirp</p>
  </body>
</html>
